<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <nav><a href="/professor/profile"><button>Go back</button></a></nav>
  
</head>
<body>
    <div class="select">
        <form action="/professor/student_tt" method="post" id="batchForm">
        <select name="batch" id="batch"  required>
            <option value="" disbaled selected hidden>Select Branch and Batch</option>
             <!-- BATCH_OPTIONS -->
        </select>
        <button type="submit">View TimeTable</button>
    </form>
    </div>
    

</body>
</html>