<!DOCTYPE HTML>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="header"><span><img src="Nitc_logo.png"> </span></div>
<div class="header-content">
<h1>CLASS CONFIRMATION PAGE</h1>
</div>
<form action="/professor/updatetime" method="post">
    <!-- Your other HTML elements -->
    <div class="class">
            <p id="clash"></p>
            <input type="submit" value="Book" name="Book" >     
            <!-- <a href="/professor/profile">Back</a> -->
    </div>
</form>
<a href="/professor/profile"><button>CANCEL</button></a>
</body>
</html> 