<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="bg2.css">
    <link rel="stylesheet" href="tt.css">
    <script type="text/javascript">
        // JavaScript functions here
    </script>
</head>
<body onload="onload()">
    <nav>
        <ul>
            <li style="font-family: 'Poppins', sans-serif"><a href='functions.php'> &laquo; Back</a></li>
        </ul>
    </nav>
    <div class="logo"><span><img src="Nitc_logo.png"> </span></div>
    <center>
        <form action="" method="post">
            <!-- PHP and form elements here -->
        </form>
     
    </center>
</body>
</html>
