<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OECMS</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="bg2.css">
    <link rel="stylesheet" href="tt.css">
</head>

<body onload="onload()">
    <nav>
        <ul>
          <li style="font-family: 'Poppins', sans-serif" ><a href='/professor/profile'> &laquo Back</a></li>
         </ul>
       </nav>
    <!-- logo -->
          <div class="logo"><span><img src="Nitc_logo.png"> </span></div>
    
    <center>
        <form id="descheduleForm" action="/professor/deschedule" method="post">
            <body>
                <center>
                    <justify>
                        <table id="scheduleTable" class='table1'cellspacing=0 cellpadding=0>
                            <thead>
                                <tr>
                                    <th class="days">Day/Slot</th>
                                    <th class="days">8-9 AM</th>
                                    <th class="days">9-10 AM</th>
                                    <th class="days">10:15-11:15 AM</th>
                                    <th class="days">11:15-12:15 PM</th>
                                    <th class="days">1-2 PM</th>
                                    <th class="days">2-3 PM</th>
                                    <th class="days">3-4 PM</th>
                                    <th class="days">4-5 PM</th>
                                </tr>
                            </thead>
                            <tbody id="scheduleBody"></tbody>
                        </table>
                    </justify>
                </center>
                <br>
                <div class="input_box">
                <input type="submit" name="checktt" value="Deschedule">
                    </div>
            </body>
        </form>
    </center>

    <script type="text/javascript">
       document.getElementById('descheduleForm').addEventListener('submit', function (event) {
  const selectedCheckboxes = document.querySelectorAll('input[name="courseCheckbox"]:checked');
  const selectedCourseIds = Array.from(selectedCheckboxes).map(checkbox => checkbox.value);
  event.preventDefault();

  fetch('/professor/deschedule', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify({ courseIds: selectedCourseIds }),
  })
  .then(response => response.json())
  .then(data => {
    alert(data.message);

    // Reload the page after successful descheduling
    if (data.success) {
      location.reload();
    }
  })
  .catch(error => {
    console.error('Error submitting data:', error);
  });
});

    </script>
</body>
</html>
