<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <a href="/professor/profile"><button>Back</button></a>
</head>
<body>
  <center><justify><table id="scheduleTable">
    <thead>
      <tr>
        <th>Day/Slot</th>
        <th>8-9 AM</th>
        <th>9-10 AM</th>
        <th>10:15-11:15 AM</th>
        <th>11:15-12:15 PM</th>
        <th>1-2 PM</th>
        <th>2-3 PM</th>
        <th>3-4 PM</th>
        <th>4-5 PM</th>
      </tr>
    </thead>
    <tbody id="scheduleBody"></tbody>
  </table>

</body>
</html>