<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Student Profile</title>
</head>
<body>
  <a href="/professor/logout">Logout</a>
  <h1>Welcome, <span id="professorName"></span>!</h1>
  <div class="glass-panel" >
    <div class="form">
        <form>
            <div>
                <button class="button button1" onclick="window.location.href='/professor/prof_tt';"type="button" name="View" formaction=# value="View" >My Timetable</button>
            </div>                        
            <div>
                <button class="button button2" onclick="window.location.href='/professor/schedule';" type="button" name="View" formaction=# value="View" >Schedule</button>
            </div> 
            <div>
                <button class="button button3" onclick="window.location.href='/professor/deschedule';" type="button" name="View" formaction=# value="View" >Deschedule</button>
            </div>
            <div>
                <button class="button button3" onclick="window.location.href='/professor/choose_class';" type="button" name="View" formaction=# value="View" >Students' Timetable</button>
            </div> 
        </form>
    </div>

    </div>
  </div>

</body>
</html>